version: "3"
services:
  build:
    image: ghcr.io/lucamora/device-os
    container_name: deviceos
    volumes:
      - ./:/app
      - deviceos:/deviceos
    environment:
      - SYSTEMDIR=/deviceos
      - APPDIR=/app
volumes:
  deviceos: